*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.2, 0, 0.38, 1);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #222222, black);
}
.container{
    width: auto;
    margin: auto;
    position: relative;
}
.login-box{
    position: relative;
    background: black;
    padding: 3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}
.login-box h1{
    padding: 2.9rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #D68910, #F8C471);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: 800;
}
.login-box .user-box{
    position: relative;
    margin-bottom: 2.7rem;
}
.user-box input{
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    color: #D68910;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid #D68910;
    background: transparent;
}
.user-box label{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #D68910, #F8C471);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    pointer-events: none;
    padding: 1rem;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}
input:focus ~ label,
 .user-box:valid ~ label{
    font-size: 1rem;
    left: 0;   
    top: -1rem;
    opacity: 0;
}
.submit{
    padding: 1.4rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #D68910, #F8C471);
    color: black;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    cursor: pointer;
}